<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td colspan="2">
                <h2 style="text-align: center">Read number</h2>
            </td>
        </tr>
        <tr>
            <td>Number:</td>
            <td><input type="text" name="number" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Read</button></td>
        </tr>
    </table>
    <p>Str</p>
</form>
</body>
</html>